.homepage_profile_card {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    transition-delay: 1s;
}



.profile_homepage_icon_right_upper_corner:hover > .homepage_profile_card {

    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    transition-delay: 1s;
}
